:root {
  font-family: sans-serif;
  line-height: 2;
  /* text color */
  color: #D6D5C9; 
  /* background color */
  background-color: #0A100D;
}

.text-box {
  background-color: #D6D5C9;
}

a {
  /* link color */
  color: #D6D5C9;
  text-decoration: none;
}
a:hover {
  /* link hover color */
  color: #A22C29;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid #D6D5C9;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #A22C29;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #B9BAA3;
  background-color: #902923;
}
