html,
body,
#root,
.app {
  height: 100%;
}

:root {
  font-family: sans-serif;
  line-height: 2;
  color: #d6d5c9;
  background-color: #0a100d;
}

.app {
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: relative;
  background-color: #902923;
}

.nav-links,
.nav-user {
  display: flex;
  gap: 1rem;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.logo {
  height: 20px;
  width: auto;
  display: block;
}

input {
  background-color: #d6d5c9;
  color: #0a100d;
  border-radius: 1px;
  border-color: #b9baa3;
  flex-grow: 2;
  flex-shrink: 1;
  flex-basis: 0;
}

input:hover {
  outline: 1px solid #902923;
}

a {
  color: #d6d5c9;
  text-decoration: none;
}
a:hover {
  color: #0a100d;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #0a100d;
}

h1 {
  line-height: 1.1;
}

button {
  color: #d6d5c9;
  border-radius: 2px;
  border: 1px solid #d6d5c9;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #902923;
  cursor: pointer;
  transition: border-color 0.25s;
  margin: 10px;
}

button:hover {
  border-color: #b9baa3;
  background-color: #a22c29;
}

button:active {
  background-color: #0a100d;
  border-color: #a22c29;
}

.footer {
  background-color: #902923;
  color: #d6d5c9;
  text-align: center;
  margin-top: auto;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
}

form {
  max-width: 500px;
  margin: 0 auto;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

label {
  flex: 1;
  text-align: left;
  margin-right: 1rem;
}

@media (max-width: 1200px) {
  .navbar {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .nav-links,
  .nav-user {
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
  }

  .nav-title {
    position: static;
    transform: none;
    margin: 1rem 0;
  }
}
